.react-datepicker__time-container
	.react-datepicker__time
	.react-datepicker__time-box
	ul.react-datepicker__time-list {
	padding-left: 0;
	padding-right: 0;
	font-size: 11px;
}

.float-right-btn {
	float: right;
}

#activities-container {
	border-radius: 0.5rem;
	width: 100%;
	padding: 0.2rem 0.5rem;
}

#destinations-container .content {
	width: 100%;
}

.date-picker-input {
	width: 50%;
}
