#dest-cards {
	font-size: 0.8rem;
	width: 102%;
}

#destinations-container {
	overflow-y: auto;
	width: 105%;
	height: 55vh;
	border-radius: 0.5rem;
}

#destinations-container .content {
	min-height: 0;
}
