.ui.button {
	font-size: 0.8rem !important;
	overflow: hidden;
}

.friend-card {
	font-size: 0.85rem;
	height: 28rem;
}

.friend-card .content {
	min-height: 0;
}

.card-link {
	float: right;
	font-size: 0.75rem;
	margin-top: 0.5rem;
}

.friends-container {
	display: grid;
	grid-template-columns: auto 20.5rem;
}
