body {
	font-size: 1rem;
	background-image: url('../media/beach.jpg');
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color: #20292f;
}

#navbar {
	padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 2rem;
}

h1 {
	font-family: 'Handlee', cursive;
}

h3 {
	font-family: 'Handlee', cursive;
	font-size: 1.5rem;
}

h5 {
	font-family: 'Handlee', cursive;
	font-size: 1.2rem;
}

a {
	color: #008080;
}

/* navbar logo and user icon */
#logo {
	font-family: 'Cabin Sketch', cursive;
	font-size: 4rem;
	font-weight: bold;
	padding: 0;
}

i.icon.user.circle {
	font-size: 2rem;
	margin-top: 1rem;
}

.welcome {
	padding-left: 10rem;
}

.App {
	overflow: auto;
	height: 100vh;
}

.main-container {
	padding: 0 5rem;
}

#title {
	padding: 0 5rem;
}

.main {
	padding: 2rem;
	display: grid;
	grid-template-columns: auto 30rem;
}

.content {
	min-height: 200px;
}

.sidebar {
	min-height: 200px;
	text-align: justify;
	padding-left: 2rem;
}

/* font-family: 'Cabin Sketch', cursive;
font-family: 'Handlee', cursive;
font-family: 'Open Sans', sans-serif; */
