.static-form {
	padding: 2rem;
	margin: 1rem;
	text-align: left;
	background: rgba(199, 205, 209, 0.7);
}

.static-form .ui.primary.button {
	margin: 8px 0;
}

#landing-container {
	padding: 5rem;
	text-align: center;
}

#landing-container h1 {
	padding: 0;
	margin: 0;
}

.bgVid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	opacity: 0.8;
}

.ui.cards > .teal.card,
.ui.teal.card,
.ui.teal.cards > .card #homepage-trips-cards {
	height: 20rem;
	overflow: auto;
}
