.float-right-btn {
	float: right;
}

#trip-card {
	background-color: #fcfaf2;
}

#loading-element {
	height: 100%;
}

#map-element {
	height: 100%;
	border-radius: 5px;
}

.trip-info-container {
	height: 70vh;
	width: 90%;
	margin: auto;
	margin-top: 1.8rem;
	border: 7px solid #fcfaf2;
	background: rgba(199, 205, 209, 0.8);
	border-radius: 5px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#trips-list-cards {
	clear: both;
}
